body {
    background-color: hsl(0, 0%, 98%);
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    padding: 50px 25px;
    line-height: 1.8em;
}

.titulo-entrega {
    font-size: 20px;
    color: hsl(234, 12%, 34%); 
    text-align: center;
    font-weight: 200;
}

.titulo-alimentado {
    font-size: 20px;
    color: hsl(234, 12%, 34%); 
    text-align: center;
    font-weight: 600; 
    padding: 0 0 15px 0;
}

.p-cabecalho {
    font-size: 13px;
    font-weight: 400;
    color: hsl(229, 6%, 66%);
    text-align: center;
    padding: 0 0 50px 0;
}

.caixa {
    display: flex;
    flex-direction: column;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow:  5px 5px 20px rgba(0, 0, 0, 0.2); 
    margin-bottom: 2rem;
    padding: 0 2em;
}

.caixa img{
    align-self: flex-end;
    padding-bottom: 1em;
}

.caixa-supervisor {
    border-top: 5px solid hsl(180, 62%, 55%); 
}

.titulo-supervisor {
    font-size: 15px;
    color: hsl(234, 12%, 34%); 
    font-weight: 600;
    padding-left: 20px;
}

.p-supervisor {
    font-size: 13px;  
    color: hsl(229, 6%, 66%);
    font-weight: 200;
    padding: 0 20px 0 20px;
}

.caixa-construtor {
    border-top: 5px solid hsl(0, 78%, 62%);
}

.titulo-construtor {
    font-size: 15px;
    color: hsl(234, 12%, 34%); 
    font-weight: 600;  
    padding-left: 20px;  
}

.p-construtor {
    font-size: 13px; 
    color: hsl(229, 6%, 66%);
    font-weight: 200;
    padding: 0 20px 0 20px;
}

.caixa-carma {
    border-top: 5px solid hsl(34, 97%, 64%);
}

.titulo-carma {
    font-size: 15px;
    color: hsl(234, 12%, 34%); 
    font-weight: 600;  
    padding-left: 20px;  
}

.p-carma {
    font-size: 13px;   
    color: hsl(229, 6%, 66%);
    font-weight: 200;
    padding: 0 20px 0 20px;
}

.caixa-calculadora {
    border-top: 5px solid hsl(212, 86%, 64%);
}

.titulo-calculadora {
    font-size: 15px;
    color: hsl(234, 12%, 34%); 
    font-weight: 600;  
    padding-left: 20px;   
}

.p-calculadora {
    font-size: 13px;    
    color: hsl(229, 6%, 66%);
    font-weight: 200;
    padding: 0 20px 0 20px;
}

footer p {
    font-size: 9px;
    text-align: center;
}

p a {
    color: hsl(228, 45%, 44%);
}


/* Tela desktop */
@media screen and (min-width: 1400px) {

    body {
        background-color: hsl(0, 0%, 98%);  
    }

    .cabecalho {
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 0;
    }

    .titulo-entrega {
        font-size: 50px;
    }

    .titulo-alimentado {
        font-size: 50px;
        padding: 0;
    }

    .p-cabecalho {
        font-size: 23px;
        padding: 0 0 60px 0;
        line-height: 1.5em;
        position: relative;
        left: 15%;
        width: 70%;
    }
    
    .principal {
        display: flex;
        flex-direction: row;

    }
}